<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{common :: commonHead}">
  <title>Product Manager</title>
</head>
<body>
<div class="container mt-5">
  <h1>Product List</h1>

  <!-- 관리자만 보이는 버튼 -->
  <div class="mb-3 d-flex justify-content-between">
    <a class="btn btn-primary"
       th:href="@{/products/new}"
       sec:authorize="hasRole('ROLE_ADMIN')">Create New Product</a>

    <a class="btn btn-secondary"
       th:href="@{/admin/users}"
       sec:authorize="hasRole('ROLE_ADMIN')">관리자 페이지</a>
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Made In</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${listProducts}">
      <td th:text="${product.id}"></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.brand}"></td>
      <td th:text="${product.madeIn}"></td>
      <td th:text="${product.price}"></td>
      <td>
        <a class="btn btn-primary btn-sm"
           th:href="@{'/products/edit/' + ${product.id}}"
           sec:authorize="hasRole('ROLE_ADMIN')">Edit</a>
        <a class="btn btn-danger btn-sm"
           th:href="@{'/products/delete/' + ${product.id}}"
           sec:authorize="hasRole('ROLE_ADMIN')">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div th:insert="~{common :: commonScript}"></div>
</body>
</html>
